vendor
.env*
!.env_example
.idea/
certs/
certs-data/
logs/

wordpress/wordpress
/wordpress/wp-content/plugins/*
/wordpress/wp-content/themes/*
/wordpress/wp-content/uploads/*
/wordpress/wp-content/languages/*
!/wordpress/wp-content/plugins/k1-spa
!/wordpress/wp-content/themes/spa
!wordpress/config

cra
